<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <ul class="list-inline mb-5">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="https://www.instagram.com/bisonmatch/">
          <i class="icon-social-instagram"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="/bisonMatch/about/">
          <i class="icon-question"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white" href="https://github.com/mpreyes/BisonMatch3.0">
          <i class="icon-social-github"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">Copyright &copy; Lipscomb's ACM Student Chapter 2019</p>
  </div>
</footer>
