{% load static %}
<!-- Bootstrap core JavaScript -->
<script src={% static "bisonMatchApp/vendor/jquery/jquery.min.js" %}></script>
<script src={% static "bisonMatchApp/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>

<!-- Plugin JavaScript -->
<script src={% static "bisonMatchApp/vendor/jquery-easing/jquery.easing.min.js" %}></script>

<!-- Custom scripts for this template -->
<script src={% static "bisonMatchApp/js/stylish-portfolio.min.js" %}></script>

<!-- Question control -->
<script src={% static "bisonMatchApp/js/question-control.js" %}></script>
