#second_third {
  display: none;
}

#third_third {
  display: none;
}

#image-upload-button {
  display: none;
}

/*
Styling for the profile image upload
and profile information form
*/
#profile-info-form {
  display: none;
}

#large-buffer {
  display: none;
}

.not-radio {
  display: block;
  cursor: default;
  border: none;
  padding: 25px 1% 0% 3%
}

.special-radio {
  margin-right: 10%;
}

.text-input {
  margin-left: 3%;
}

.textarea-input {
  width: 93%;
  margin-bottom: 10%;
}

.not-radio:before {
  display: none;
}

.not-radio:after {
  display: none;
}

.float-left {
  display: inline-block;
  width: 50%;
  float:left;
}

.even-height {
  min-height: 45vh;
}

.float-right {
  display: inline-block;
  width: 50%;
  float:right;
}

.medium-btn {
  display: block !important;
  margin: 0 auto !important;
  width: 130px !important;
}

@media (max-width: 575px) {
  .even-height {
    width: 100%;
    height: auto;
    min-height: 0;
  }
}


.extra-padding-top {
  padding: 3%;
}

.no-container-row {
  background-color: #FFC0CB;
  overflow-x: hidden;
  margin: 0;
}

/*****
 *
 * Radio checked style related
 * the fun part starts here
 *
 */
input[type=radio] {
  display: none;
}

.center {
  display: block;
  width: 20%;
  margin: 0 auto;
}

.form-container {
  width: 100%;
  background-color: white;
  margin: 8% auto;
  padding: 5%;
  padding-top: 0%;
  padding-bottom: 16%;
  margin-top: 0%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.progress-bar-container {
  background-color: white;
  width: 100%;
  margin: 8% auto 0 auto;
  padding-bottom: 0;
  padding-top: 3%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/**
 * How it should look when hovered
 */
.active-label, label:focus, label:hover, label:active, input:checked + label {
  color: #e0758e;
}
.active-label:before, label:focus:before, label:hover:before, label:active:before, input:checked + label:before {
  background: white;
  border-color: #e0758e;
}

/**
 * Make those labels sexy
 */

.label-bold {
  font-weight: bold;
}
label {
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  display: block;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  whitespace: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .15s ease;
  /**
   * This is the radio fake dot basically
   */
}
label:first-of-type {
  border: 0;
}
label:before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: .2rem solid #ccc;
}

/**
 * How it should look when checked
 */
input:checked + label:before {
  border-color: white;
  border: none;
  background: #e0758e;
}

/**
 * How it should look when disabled
 */
input:disabled + label {
  background: #efefef;
  color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}
input:disabled + label:hover {
  border-color: rgba(0, 0, 0, 0.1);
}
input:disabled + label:before {
  border-color: white;
  background: white;
}


.small-txt {
  font-size: 0.7em;
  padding: 0 !important;
  margin: 9% 0 0 25px !important;
}
