{% extends './default.html' %}
{% load static %}

{% block content %}

  {% if paid == 1 or paid == 3 %}
    <div class="row no-container-row">

     <div class="col-lg-3 col-md-2 col-sm-1 col-1"></div>

     <div class="col-lg-6 col-md-8 col-sm-10 col-10 mycard">
	<h2 style="display:block; margin: 0 auto; width: 100%; text-align: center;">Here are your matches</h2>
	<p>If you want to save your matches take a screenshot before February 16th.</p>
     </div>

     <div class="col-lg-3 col-md-2 col-sm-1 col-1"></div>

      {% for match in matches %}
        <div class="col-lg-3 col-md-2 col-sm-1 col-1"></div>

        <!--=============================================================================================================-->
        <!-- Profile viewing
        <!--=============================================================================================================-->

        <div class="col-lg-6 col-md-8 col-sm-10 col-10 mycard" id="profile-image-upload-form">

          <div class="profile-photo">
            <img class="fluid-image" id="profile-image" src="{{match.17}}" style="display: inline-block;"></img>
          </div>

          <h4 class="instructions">{{ match.0 }}</h4>
          <p><b>Major:</b> {{match.3}}</p>
          <p><b>Bio:</b> {{ match.4 }}</p>
          <p><b>Ideal Date:</b> {{match.5}}</p>
	  <p><b>Email: </b> {{match.2}}</p>
          <p><b>Percentage Matched:</b> {{match.19}}%</p>
        </div>

        <div class="col-lg-3 col-md-2 col-sm-1 col-1"></div>

      {% endfor %}
    </div>

  {% else %}
    <div class="row no-container-row">
        <div class="col-lg-3 col-md-2 col-sm-1 col-1"></div>

        <!--=============================================================================================================-->
        <!-- Profile viewing
        <!--=============================================================================================================-->

        <div class="col-lg-6 col-md-8 col-sm-10 col-10 mycard" id="profile-image-upload-form">

          <div class="profile-photo" style="cursor: default;">
            <i class="fas fa-user" id="profile-default-image"></i>
          </div>

          <h4 class="instructions">Oops!</h4>
          <p>Looks like you haven't paid. We can't show you your matches until you do.
            <a href="../../thanks">Click here to buy your results.</a> The deadline is February 14.</p>
        </div>

        <div class="col-lg-3 col-md-2 col-sm-1 col-1"></div>
    </div>
  {% endif %}

{% endblock %}
