{% extends './default.html' %}
{% load static %}

{% block content %}
  <div class="overlay" id="croppie-overlay">
    <div id="croppie"></div>

    <a id="submit-crop" class="btn btn-primary medium-button">Submit Crop</a>
  </div>


  <form action="" method="POST" name="form">
    {% csrf_token %}
    <div class="row no-container-row">
      <div class="col-lg-3 col-md-2 col-sm-1 col-1"></div>


      <!--=============================================================================================================-->
      <!-- Profile Image upload 'form' -->
      <!--=============================================================================================================-->

      <div class="col-lg-6 col-md-8 col-sm-10 col-10 mycard" id="profile-image-upload-form">

        <input type="text" name="image_data" style="display: none;" id="dummy" />
        <input type="file" name="image_upload" id="image-upload-button" accept="image/*"/>
        <div class="profile-photo" onclick="uploadPhoto()">
          <i class="fas fa-user" id="profile-default-image"></i>
          <img class="fluid-image" id="profile-image"></img>
        </div>

        <h4 class="instructions label-bold">Upload a photo</h4>
        <p class="text-center">A photo is not required. However, having a photo will greatly increase your chances of getting matches to contact you.</p>

        <div class="float-left">
          <a href="#" onclick="uploadPhoto()" class="btn btn-primary medium-btn">Upload</a>
        </div>

        <div class="float-right">
          <a href="#" class="btn btn-primary medium-btn" onclick="next_profile_form()">Continue</a>
        </div>
      </div>



      <!--=============================================================================================================-->
      <!-- User information 'form' -->
      <!--=============================================================================================================-->

      <div class="col-lg-6 col-md-6 col-sm-10 col-10 card" id="profile-info-form">
        <div class="float-left even-height">
          <label class="not-radio label-bold">*Name: </label>
          <input type="text" class="text-input" name="name" required></input>

          <label class="not-radio label-bold">*L-Number: </label>
          <input type="text" class="text-input" name="l-number" required></input>

          <label class="not-radio label-bold">*Email Address: </label>
          <input type="text" class="text-input" name="email" required></input>

          <label class="not-radio label-bold">*Major: </label>
          <input type="text" class="text-input" name="major" required></input>


        </div>

        <div class="float-right even-height">
          <label class="not-radio label-bold">*Gender: </label>
          <input type="radio" id="radio100" value="0" name="gender" required/>
          <label class="special-radio" for="radio100">Male</label>
          <input type="radio" id="radio101" value="1" name="gender"/>
          <label class="special-radio" for="radio101">Female</label>
          <input type="radio" id="radio101" value="2" name="gender"/>
          <label class="special-radio" for="radio101">Undefined</label>
        </div>

        <label class="not-radio no-float label-bold">Bio: </label>
        <textarea class="text-input textarea-input" name="bio"></textarea>

          <label class="not-radio no-float label-bold">Describe Your Ideal Date: </label>
        <textarea class="text-input textarea-input" name="idealdate"></textarea>




        <div class="float-left">
          <a href="#" class="btn btn-primary medium-btn" onclick="show_image_upload_form()">Previous</a>
        </div>

        <div class="float-right">
          <a href="#" class="btn btn-primary medium-btn" onclick="show_quiz()">Next</a>
        </div>

        <p class="small-txt">All fields marked with * are required.</p>
      </div>



      <!--=============================================================================================================-->
      <!-- Actual quiz 'form' -->
      <!--=============================================================================================================-->

      <div class="col-lg-6 col-md-8 col-sm-10 col-10" id="questions-container">

        <div class="progress-bar-container" id="first_third">
          <ul class="progress-bar" id="questions-progress-bar">
            <li class="active" onclick="toggle_question(1);"></li>
            <li onclick="toggle_question(2);"></li>
            <li onclick="toggle_question(3);"></li>
            <li onclick="toggle_question(4);"></li>
          </ul>
        </div>

        <!--<div class="progress-bar-container" id="second_third">
          <ul class="progress-bar" id="questions-progress-bar">
            <li style="display: none;"></li>
            <li style="display: none;"></li>
            <li style="display: none;"></li>
            <li style="display: none;"></li>
            <li onclick="toggle_question(5);"></li>
            <li onclick="toggle_question(6);"></li>
            <li onclick="toggle_question(7);"></li>
            <li onclick="toggle_question(8);"></li>
          </ul>
        </div>

        <div class="progress-bar-container" id="third_third">
          <ul class="progress-bar" id="questions-progress-bar">
            <li style="display: none;"></li>
            <li style="display: none;"></li>
            <li style="display: none;"></li>
            <li style="display: none;"></li>
            <li style="display: none;"></li>
            <li style="display: none;"></li>
            <li style="display: none;"></li>
            <li style="display: none;"></li>
            <li onclick="toggle_question(9);"></li>
            <li onclick="toggle_question(10);"></li>
          </ul>
        </div>-->


        <div class="form-container active">
          <h2 class="text-center">Question 1</h2>

          <img src={% static "bisonMatchApp/img/date.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">

           <h4 class="text-center">You’re on a first date. Everything is going fine, except that _________, which is really bothersome.</h4>
          <div class="box">
            <input type="radio" id="radio1" value="0" name="question1" required/>
            <label for="radio1"> They showed up 20 minutes late. </label>

            <input type="radio" id="radio2" value="1" name="question1"/>
            <label for="radio2">They are a little too flirty.</label>

            <input type="radio" id="radio3" value="2" name="question1"/>
            <label for="radio3">They are obviously nervous and don’t know what to talk about.</label>

            <input type="radio" id="radio4" value="3" name="question1"/>
            <label for="radio4">They ask you how many kids you’d want someday.</label>
          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="edit_info_form()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
           <h2 class="text-center">Question 2</h2>

          <img src={% static "bisonMatchApp/img/date.gif" %} class="quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center">You’re on a first date. Everything is going fine, except that _________, which is really bothersome.</h4>

          <div class="box">
            <input type="radio" id="radio5" value="0" name="question2" required/>
            <label for="radio5">Parakeet</label>

            <input type="radio" id="radio6" value="1" name="question2"/>
            <label for="radio6">Moose</label>

            <input type="radio" id="radio7" value="2" name="question2"/>
            <label for="radio7">Dog</label>

            <input type="radio" id="radio8" value="3" name="question2"/>
            <label for="radio8">Cat</label>
          </div>
          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
           <h2 class="text-center">Question 3</h2>

          <img src={% static "bisonMatchApp/img/date.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center">You’re on a first date. Everything is going fine, except that _________, which is really bothersome.</h4>

          <div class="box">
            <input type="radio" id="radio9" value="0" name="question3" required/>
            <label for="radio9">Very Likely</label>

            <input type="radio" id="radio10" value="1" name="question3"/>
            <label for="radio10">Somewhat Likely</label>

            <input type="radio" id="radio11" value="2" name="question3"/>
            <label for="radio11">Neutral</label>

            <input type="radio" id="radio12" value="3" name="question3"/>
            <label for="radio12">Somewhat Unlikely</label>

            <input type="radio" id="radio13" value="4" name="question3"/>
            <label for="radio13">Very Unlikely</label>
          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
           <h2 class="text-center">Question 4</h2>

          <img src={% static "bisonMatchApp/img/date.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center">You’re on a first date. Everything is going fine, except that _________, which is really bothersome.</h4>

          <div class="box">
            <input type="radio" id="radio14" value="0" name="question4" required/>
            <label for="radio14">Very Likely</label>

            <input type="radio" id="radio15" value="1" name="question4"/>
            <label for="radio15">Somewhat Likely</label>

            <input type="radio" id="radio16" value="2" name="question4"/>
            <label for="radio16">Neutral</label>

            <input type="radio" id="radio17" value="3" name="question4"/>
            <label for="radio17">Somewhat Unlikely</label>
          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
           <h2 class="text-center">Question 5</h2>
          <img src={% static "bisonMatchApp/img/date.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center">You’re on a first date. Everything is going fine, except that _________, which is really bothersome.</h4>

          <div class="box">
            <input type="radio" id="radio18" value="0" name="question5" required/>
            <label for="radio18">Very Likely</label>

            <input type="radio" id="radio19" value="1" name="question5"/>
            <label for="radio19">Somewhat Likely</label>

            <input type="radio" id="radio20" value="2" name="question5"/>
            <label for="radio20">Neutral</label>

            <input type="radio" id="radio21" value="3" name="question5"/>
            <label for="radio21">Somewhat Unlikely</label>
          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
          <h2 class="text-center">Question 6</h2>

          <img src={% static "bisonMatchApp/img/coffee.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center">You’re hanging out at a coffee shop with a friend. You’re most likely to talk about:</h4>
          <div class="box">
            <input type="radio" id="radio22" value="0" name="question6" required/>
            <label for="radio22">Jesus. Heart-to-hearts or nothing!</label>

            <input type="radio" id="radio23" value="1" name="question6"/>
            <label for="radio23">Something intellectual. “The unexamined life is not worth living” – Socrates</label>

            <input type="radio" id="radio24" value="2" name="question6"/>
            <label for="radio24">Hobbies/common interests. (OMG did you see what happened on the bachelor last night??) (change comment in parentheses, relevant)</label>

            <input type="radio" id="radio25" value="3" name="question6"/>
            <label for="radio25">Life issues/latest gossip.</label>
          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
           <h2 class="text-center">Question 7</h2>

          <img src={% static "bisonMatchApp/img/date.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center">You’re on a first date. Everything is going fine, except that _________, which is really bothersome.</h4>

          <div class="box">
            <input type="radio" id="radio26" value="0" name="question7" required/>
            <label for="radio26">Very Likely</label>

            <input type="radio" id="radio27" value="1" name="question7"/>
            <label for="radio27">Somewhat Likely</label>

            <input type="radio" id="radio28" value="2" name="question7"/>
            <label for="radio28">Neutral</label>

            <input type="radio" id="radio29" value="3" name="question7"/>
            <label for="radio29">Somewhat Unlikely</label>
          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
          <h2 class="text-center">Question 8</h2>

          <img src={% static "bisonMatchApp/img/friendship.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center">What do you value most in a friendship?</h4>

          <div class="box">
            <input type="radio" id="radio30" value="0" name="question8" required/>
            <label for="radio30">Loyalty. Ride or die baby!</label>

            <input type="radio" id="radio31" value="1" name="question8"/>
            <label for="radio31">Common interests, for sure!</label>

            <input type="radio" id="radio32" value="2" name="question8"/>
            <label for="radio32">The ability to laugh and be goofy about anything. Sharing dank memes, yo.</label>

            <input type="radio" id="radio33" value="3" name="question8"/>
            <label for="radio33">Someone to talk to about deep issues.</label>
          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
          <h2 class="text-center">Question 9</h2>

          <img src={% static "bisonMatchApp/img/date.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center">You’re on a first date. Everything is going fine, except that _________, which is really bothersome.</h4>

          <div class="box">
            <input type="radio" id="radio34" value="0" name="question9" required/>
            <label for="radio34">Very Likely</label>

            <input type="radio" id="radio35" value="1" name="question9"/>
            <label for="radio35">Somewhat Likely</label>

            <input type="radio" id="radio36" value="2" name="question9"/>
            <label for="radio36">Neutral</label>

            <input type="radio" id="radio37" value="3" name="question9"/>
            <label for="radio37">Somewhat Unlikely</label>
          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
           <h2 class="text-center">Question 10</h2>

          <img src={% static "bisonMatchApp/img/date.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center">You’re on a first date. Everything is going fine, except that _________, which is really bothersome.</h4>

          <div class="box">
            <input type="radio" id="radio38" value="0" name="question10" required/>
            <label for="radio38">Math</label>

            <input type="radio" id="radio39" value="1" name="question10"/>
            <label for="radio39">Science</label>

            <input type="radio" id="radio40" value="2" name="question10"/>
            <label for="radio40">Art</label>

            <input type="radio" id="radio41" value="3" name="question10"/>
            <label for="radio41">Reading</label>
          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><input type="submit" class="btn btn-primary medium-btn" name="submit"></div>
        </div>

      </div>
    </div>
  </form>
{% endblock %}
