{% extends './default.html' %}
{% load static %}

{% block content %}
  <div class="overlay" id="croppie-overlay">
    <div id="croppie"></div>

    <a id="submit-crop" class="btn btn-primary medium-button">Submit Crop</a>
  </div>


  <form action="" method="POST" name="form">
    {% csrf_token %}
    <div class="row no-container-row">
      <div class="col-lg-3 col-md-2 col-sm-0 col-0"></div>


      <!--=============================================================================================================-->
      <!-- Profile Image upload 'form' -->
      <!--=============================================================================================================-->

      <div class="col-lg-6 col-md-8 col-sm-12 col-12 mycard" id="profile-image-upload-form">

        <input type="text" name="image_data" style="display: none;" id="dummy" />
        <input type="file" name="image_upload" id="image-upload-button" accept="image/*"/>
        <div class="profile-photo" onclick="uploadPhoto()">
          <i class="fas fa-user" id="profile-default-image"></i>
          <img class="fluid-image" id="profile-image"></img>
        </div>

        <h4 class="instructions label-bold">Upload a photo</h4>
        <p class="text-center pad-me">A photo is <strong>not</strong> required. However, having a photo will greatly increase your chances of getting matches to contact you.</p>

        <div class="float-left">
          <a href="#" onclick="uploadPhoto()" class="btn btn-primary medium-btn">Upload</a>
        </div>

        <div class="float-right">
          <a href="#" class="btn btn-primary medium-btn" onclick="next_profile_form()">Continue</a>
        </div>
      </div>



      <!--=============================================================================================================-->
      <!-- User information 'form' -->
      <!--=============================================================================================================-->

      <div class="col-lg-8 col-md-8 col-sm-10 col-11 card card-margin-me card-pad-me mx-auto" id="profile-info-form">
  <h2 class="text-center margin-me"> But first, let's get some info about you </h2>
    <div class="form-group">
    <label for="Name:" class="label-bold not-radio">*Name:</label>
    <input type="text" class="form-control" placeholder="Enter your name" name="name" required>
  </div>

  <div class="form-group">
    <label for="Email Address:" class="label-bold not-radio">Email address:</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter email" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="label-bold not-radio">LNumber:</label>
    <input type="text" class="form-control" name="l-number" id="exampleInputPassword1" placeholder="Enter your LNumber">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1" class="label-bold not-radio">Major:</label>
    <input type="text" class="form-control" name="major" id="exampleInputPassword1" placeholder="Enter your major">
  </div>


  <div class="form-check">
  <label for="gender" class="label-bold not-radio">Gender:</label>
  <input class="form-check-input" type="radio" name="gender" id="radio100" value="0" checked>
  <label class="form-check-label" for="radio100">
    Male
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="gender" id="radio101" value="1">
  <label class="form-check-label" for="radio101">
    Female
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="gender" id="radio102" value="2">
  <label class="form-check-label" for="radio102">
    Unspecified
  </label>
      <small id="emailHelp" class="form-text text-muted">If you select unspecified, you will get matches from all genders.</small>
</div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1" class="not-radio">Bio:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="bio" rows="3" placeholder="Give your matches a short bio and add any of your social media!"></textarea>
  </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1" class="not-radio">Describe your ideal date:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="idealdate" rows="3" placeholder="What would you do? Where would you go?" ></textarea>
  </div>


    <div class="pad-me float-left">
      <a href="#" class="btn btn-primary medium-btn" onclick="show_image_upload_form()">Previous</a>
      </div>
    <div class="pad-me float-right">
    <a href="#" class="btn btn-primary medium-btn" onclick="show_quiz()">Next</a>
        </div>
        <p class="small-txt">All fields marked with * are required.</p> 

      </div>




      <!--=============================================================================================================-->
      <!-- Actual quiz 'form' -->
      <!--=============================================================================================================-->

      <div class="col-lg-6 col-md-8 col-sm-12 col-12" id="questions-container" style="display: none;">

        <div class="form-container active">
          <h2 class="text-center">Question 1</h2>

          <img src={% static "bisonMatchApp/img/date.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">

           <h4 class="text-center">You’re on a first date. Everything is going fine, except that _________, which is really bothersome.</h4>
          <div class="box">
            <input type="radio" id="radio1" value="0" name="question1" required/>
            <label for="radio1"> They showed up 20 minutes late. </label>

            <input type="radio" id="radio2" value="1" name="question1"/>
            <label for="radio2">They are a little too flirty.</label>

            <input type="radio" id="radio3" value="2" name="question1"/>
            <label for="radio3">They are obviously nervous and don’t know what to talk about.</label>

            <input type="radio" id="radio4" value="3" name="question1"/>
            <label for="radio4">They ask you how many kids you’d want someday.</label>
          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="edit_info_form()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
           <h2 class="text-center">Question 2</h2>

          <img src={% static "bisonMatchApp/img/kids.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center"> Here's a hard hitting question. <em> Ideally</em>, your preferred number of children would be:</h4>

          <div class="box">
            <input type="radio" id="radio5" value="0" name="question2" required/>
            <label for="radio5">None.</label>

            <input type="radio" id="radio6" value="1" name="question2"/>
            <label for="radio6">One or two.</label>

            <input type="radio" id="radio7" value="2" name="question2"/>
            <label for="radio7">Three to four.</label>

            <input type="radio" id="radio8" value="3" name="question2"/>
            <label for="radio8">Five or more.</label>
          </div>
          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
           <h2 class="text-center">Question 3</h2>

          <img src={% static "bisonMatchApp/img/saturday.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center">On a typical Saturday, you’ll find me:</h4>

          <div class="box">
            <input type="radio" id="radio9" value="0" name="question3" required/>
            <label for="radio9">Probably studying. That MCAT ain’t gonna pass itself.</label>

            <input type="radio" id="radio10" value="1" name="question3"/>
            <label for="radio10">Any kind of physical activity. Hiking anyone?</label>

            <input type="radio" id="radio11" value="2" name="question3"/>
            <label for="radio11">Playing video games or watching TV shows. Staying inside is my kind of fun.</label>

            <input type="radio" id="radio12" value="3" name="question3"/>
            <label for="radio12">Doing something social. Nashville always has something going on.</label>

          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
           <h2 class="text-center">Question 4</h2>

          <img src={% static "bisonMatchApp/img/scary.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center"> When it comes to scary movies: </h4>

          <div class="box">
            <input type="radio" id="radio14" value="0" name="question4" required/>
            <label for="radio14">I love them! I can’t wait for SAW 23 to come out.</label>

            <input type="radio" id="radio15" value="1" name="question4"/>
            <label for="radio15">Um, no. I’d never sleep again!</label>

            <input type="radio" id="radio16" value="2" name="question4"/>
            <label for="radio16">I’ll watch them if I have someone to snuggle with.</label>

            <input type="radio" id="radio17" value="3" name="question4"/>
            <label for="radio17">I’d rather watch something else. Can you say “predictable”?</label>
          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
           <h2 class="text-center">Question 5</h2>
          <img src={% static "bisonMatchApp/img/social_media.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center">If you could describe yourself as a social media site, what would it be?</h4>

          <div class="box">
            <input type="radio" id="radio18" value="0" name="question5" required/>
            <label for="radio18">Facebook. Reliable, down to earth, and friends with your grandma.</label>

            <input type="radio" id="radio19" value="1" name="question5"/>
            <label for="radio19">Instagram. Trendy, funny, and know all the right angles for a good picture.</label>

            <input type="radio" id="radio20" value="2" name="question5"/>
            <label for="radio20">Pinterest. Artsy, goal setting, and full of aesthetic.</label>

            <input type="radio" id="radio21" value="3" name="question5"/>
            <label for="radio21">Reddit. Introverted, sarcastic, and full of memes.</label>
          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
          <h2 class="text-center">Question 6</h2>

          <img src={% static "bisonMatchApp/img/coffee.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center">You’re hanging out at a coffee shop with a friend. You’re most likely to talk about:</h4>
          <div class="box">
            <input type="radio" id="radio22" value="0" name="question6" required/>
            <label for="radio22">Jesus. Heart-to-hearts or nothing!</label>

            <input type="radio" id="radio23" value="1" name="question6"/>
            <label for="radio23">Something intellectual. “The unexamined life is not worth living” – Socrates</label>

            <input type="radio" id="radio24" value="2" name="question6"/>
            <label for="radio24">Hobbies/common interests. (OMG did you see what happened on the bachelor last night??) (change comment in parentheses, relevant)</label>

            <input type="radio" id="radio25" value="3" name="question6"/>
            <label for="radio25">Life issues/latest gossip.</label>
          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
           <h2 class="text-center">Question 7</h2>

          <img src={% static "bisonMatchApp/img/annoying.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center">Which of these habits do you think are the most annoying that some couples have?</h4>

          <div class="box">
            <input type="radio" id="radio26" value="0" name="question7" required/>
            <label for="radio26">Excessive PDA</label>

            <input type="radio" id="radio27" value="1" name="question7"/>
            <label for="radio27">All that “We” talk.</label>

            <input type="radio" id="radio28" value="2" name="question7"/>
            <label for="radio28">Ridiculous love posts on social media.</label>

            <input type="radio" id="radio29" value="3" name="question7"/>
            <label for="radio29">Overuse of pet names.</label>
          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
          <h2 class="text-center">Question 8</h2>

          <img src={% static "bisonMatchApp/img/friendship.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center">What do you value most in a friendship?</h4>

          <div class="box">
            <input type="radio" id="radio30" value="0" name="question8" required/>
            <label for="radio30">Loyalty. Ride or die baby!</label>

            <input type="radio" id="radio31" value="1" name="question8"/>
            <label for="radio31">Common interests, for sure!</label>

            <input type="radio" id="radio32" value="2" name="question8"/>
            <label for="radio32">The ability to laugh and be goofy about anything. Sharing dank memes, yo.</label>

            <input type="radio" id="radio33" value="3" name="question8"/>
            <label for="radio33">Someone to talk to about deep issues.</label>
          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
          <h2 class="text-center">Question 9</h2>

          <img src={% static "bisonMatchApp/img/smartphone.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center">The newest smartphone just came out. You:</h4>

          <div class="box">
            <input type="radio" id="radio34" value="0" name="question9" required/>
            <label for="radio34">Buy it as soon as it drops. Money isn’t everything and I love having the newest technology!</label>

            <input type="radio" id="radio35" value="1" name="question9"/>
            <label for="radio35">Wait a couple of months for it, that way I can get it at a cheaper price.</label>

            <input type="radio" id="radio36" value="2" name="question9"/>
            <label for="radio36">I’ll get it when the next one comes out. That’s when the price for this one is at its prime.</label>

            <input type="radio" id="radio37" value="3" name="question9"/>
            <label for="radio37">I still have my (insert smartphone model here) 5, why would I spend a penny on a new one if this one still works?</label>
          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><a class="btn btn-primary medium-btn" onclick="next_question()">Next</a></div>
        </div>



        <div class="form-container">
           <h2 class="text-center">Question 10</h2>

          <img src={% static "bisonMatchApp/img/trouble.gif" %} class="img-fluid quiz-img rounded mx-auto d-block" alt="Responsive image">
           <h4 class="text-center">Who is the first person you call when you’re in trouble?</h4>

          <div class="box">
            <input type="radio" id="radio38" value="0" name="question10" required/>
            <label for="radio38">My parent(s). They'll love me no matter what I do.</label>

            <input type="radio" id="radio39" value="1" name="question10"/>
            <label for="radio39">A sibling. If I'm in trouble, they can find a way.</label>

            <input type="radio" id="radio40" value="2" name="question10"/>
            <label for="radio40">A friend. They can bring me ice cream and comforting words.</label>

            <input type="radio" id="radio41" value="3" name="question10"/>
            <label for="radio41">A mentor. The wisdom of our elders is always best.</label>
          </div>

          <div class="float-left"><a class="btn btn-primary medium-btn" onclick="previous_question()">Previous</a></div>
          <div class="float-right"><input type="submit" class="btn btn-primary medium-btn" name="submit"></div>
        </div>

      </div>
    </div>
  </form>
{% endblock %}
