{% extends './default.html' %}
{% load static %}

{% block content %}

  <div id="lnumbers" style="display: none;">
    {% for num in lnumbers %}
      <p>{{ num }}</p>
    {% endfor %}
  </div>



  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h2 class="mb-5">Thanks for Taking the Quiz!</h2>
      </div>

      <div class="row">
        <div class="col-lg-10 mx-auto">

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <i class="far fa-credit-card fa-3x "></i> <br><br>
              <p class="lead mb-5">Pay Online <br></p>

                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top" onsubmit="return checkInput();" name="form">
                  {% csrf_token %}
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="Q7URVTBNRG6VY">
                  <input type="text" name="invoice" value="" placeholder="Enter your LNumber"> <br><br>
                  <input type="image" src="http://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

                <br>
                <p> **NOTE: You can use paypal, <strong>OR</strong> use the guest checkout to pay with your credit/debit card. You can always navigate back to this 
                page if you decide to pay later.
            </div>

              <div class="col-md-6 col-sm-12">
                <i class="fas fa-pen fa-3x"></i><br><br>
                <p class="lead mb-5">
                    Meet us at a table in the Student Center: <br></p>

              <table class="table lead mb-5">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Monday, February 4th</th>
                      <td> 9:00-4:00</td>
                    </tr>
                    <tr>
                      <th scope="row">Tuesday, February 5th</th>
                      <td>9:00-4:00</td>
                    </tr>
                    <tr>
                      <th scope="row"> Wednesday, February 6th</th>
                      <td>9:00-400</td>
                    </tr>
                        <tr>
                      <th scope="row">Thursday, February 7th</th>
                      <td>9:00-4:00</td>
                    </tr>
                      <tr>
                      <th scope="row">Friday, February 8th</th>
                      <td>9:00-4:00</td>
                    </tr>
                  </tbody>
                </table>            
              </div>
            </div>
             All proceeds will go to raising funds for LU's ACM student chapter.
           </p>

          <a class="btn btn-dark btn-xl js-scroll-trigger" href="/bisonMatch/">Home</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
