{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title></title>

    <style type="text/css">
    </style>
</head>

<body style="margin:0; padding:0; background-color:#FFC0CB important!;">
    <p>
        Hi {{name}}, <br><br>
        It's not too late to buy your results for Bison Match!<br>
        <a href="bisonmatch.info/bisonMatch/thanks">Click here</a> to pay online,<br>
        or stop by the Bison Match table in the Student Center to buy your results.<br>
        Once you've paid, you will receive your results via email on Monday February 11,<br>
        just in time to find a Valentine's Date!<br>
        Have a wonderful day!<br>
    </p>

    <p> Much Love, <br>
        Your Friends at Bison Match </p>
</body>

</html>